body {
  width: 25%;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 10px;
  font-size: 12px;
  padding: 10px;
}
h1 {
  font-size: 14px;
  margin-bottom: 20px;
}
p {
  margin: 0;
  padding: 10px 0 0 0;
}
input[type="text"] {

}
input[type="checkbox"] {
  margin: 12px;
}

/**
NAV
**/
.nav {
  margin-bottom: 30px;
}
.nav a {
  padding: 0px 20px 0px 0px;
}

/**
APP
**/
.app {
  margin: 10px;
}

/**
TO DO
**/
.add-todo {
  display: flex;
}
.add-todo button {
  margin-left: 10px;
}
.todo-item {
  display: flex;
}
.todo-item button {
  border: none;
  background: none;
  margin-left: 10px;
}
.todo-list {
  margin-top: 20px;
}

/**
LOGIN / LOGOUT
**/
.loginForm, .logoutForm {
  margin-bottom: 30px;
}